.error {
    font-family: Monsterrat, Arial;
    font-weight: 400;
    color: black;
    padding: 280px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
}