.navbar {
    background-color: black;
    padding: 0.5%;
}

.navbar-brand {
    margin-left: 1.2%;
    color: white;
    border: thin;
    text-decoration: none;
    border-style: solid;
    padding: 0.1% 0.5%;
    display: inline-flex;
    align-items: center;
}


.navbar-brand:hover {
  color: #00FF66;
  text-decoration: none;
  background-color: #31D209;
}

.links {
    float: right;
    margin-top: 0.6%;
    margin-right: 12%;
    display: inline-flex;
}

a {
    color: #00FF66;
    font-size: 80%;
    padding: 3% 7% 0% 0%;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline #00FF66;
}

.label {
    padding: 2%;
    font-family: Montserrat;
    font-size: 75%;
}

.icon {
    fill: white;
    padding: 1%;
}