.title {
  color: black;
  font-weight: 600;
  font-size: 150%;
  padding: 20px;
  width: fit-content;
  background: rgba(202, 204, 221, 0.829);
  border-radius: 25px;
  text-align: center;
}

.listing {
  color: black;
  font-weight: 300;
  font-size: 130%;
  padding: 15px;
  text-align: center;
}

.download {
  fill: white;
  width: 36px;
  height: 36px;
  vertical-align: auto;
  fill: black;
}

.dl {
  padding: 15px;
  padding-bottom: 100px;
  padding-top: 5pc;
  text-align: center;
  font-weight: 500;
  font-size: 120%;
}

.stats {
  background-color: rgba(0, 0, 0, 0.842);
  padding: 5%;
  margin-right: 30px;
  margin-left: 30px;
  color: #00ff66;
  font-weight: 500;
  font-size: 90%;
  border-radius: 25px;
}

.metric {
  color: white;
  font-size: 120%;
}

.message {
  color: rgb(255, 123, 0);
  font-weight: 600;
  font-size: 120%;
  padding-bottom: 5%;
  text-transform: uppercase;
}

.typewriter .metric {
  width: auto;
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40), blink-caret 0.75s step-end 2;
}

.slideup {
  animation: slide-up-fade-in ease 1.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #31d209;
  }
}
